[Match]
Name=eth0

[Network]
Address=192.168.1.1/24
Address=fd26:379e:f584:0001::1/64
DHCPServer=yes
IPv6SendRA=yes
DHCPv6PrefixDelegation=yes
VLAN=eth0.iot
VLAN=eth0.guest

[DHCPServer]
DNS=192.168.1.1
PoolOffset=10

[IPv6SendRA]
DNS=fd26:379e:f584:0001::1
DNSLifetimeSec=3600
	
[IPv6Prefix]
Prefix=fd26:379e:f584:0001::/64
